<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>标题</title>
</head>
<body>
<strong>标题</strong>
<form action="list.html" method="post">
    <input type="hidden" name="pageNumber">
    用户名：<input type="text" name="username">
    <br/>
    姓名：<input type="text" name="name">
    <br/>
    <button type="submit">提交</button> <button type="reset">重置</button>
</form>
<table>
    <thead>
    <tr>
        <th class="am-hide-sm-only">id</th>
        <th>用户名</th>
        <th>姓名</th>
        <th class="am-hide-sm-only">电话</th>
        <th class="am-hide-sm-only">邮箱</th>
        <th class="am-hide-sm-only">是否可用</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>id</td>
        <td>用户名</td>
        <td>姓名</td>
        <td>电话</td>
        <td>邮箱</td>
        <td>
            <span>可用</span><span>不可用</span>
        </td>
        <td><button>修改</button><button>删除</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>
